aniso8601==1.2.1
click==6.7
colorama==0.2.5
Flask==0.12.2
Flask-RESTful==0.3.6
html5lib==0.99999999
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.2.1
six==1.10.0
urllib3==1.7.1
Werkzeug==0.12.2
